/out
/package-lock.json
/node_modules
/doc
oe-logs
oe-workdir
.vscode
/build
**/.idea/
**/local.properties
**/config.properties
external/libwebsockets/v4.3/
!external/libwebsockets/v4.3/BUILD.gn
!external/libwebsockets/v4.3/libwebsockets.patch

