set (autostart ${PLUGIN_ORBBROWSER_AUTOSTART})
set (resumed true)

if(PLUGIN_WEBSERVER)
set (preconditions Graphics WebSource)
else()
set (preconditions Graphics)
endif(PLUGIN_WEBSERVER)

map()
    kv(outofprocess true)
    if(PLUGIN_ORBBROWSER_USER)
        kv(user ${PLUGIN_ORBBROWSER_USER})
    endif()
    if(PLUGIN_ORBBROWSER_GROUP)
        kv(group ${PLUGIN_ORBBROWSER_GROUP})
    endif()
end()
ans(rootobject)

map()
    kv(url ${PLUGIN_ORBBROWSER_STARTURL})
    if(PLUGIN_ORBBROWSER_USERAGENT)
        kv(useragent ${PLUGIN_ORBBROWSER_USERAGENT})
    endif()
    kv(transparent ${PLUGIN_ORBBROWSER_TRANSPARENT})
    kv(compositor "noaa")
    kv(inspector ${PLUGIN_ORBBROWSER_WEBINSPECTOR_ADDRESS})
    kv(fps true)
    kv(cursor false)
    kv(touch false)
    kv(msebuffers ${PLUGIN_ORBBROWSER_MSEBUFFERS})
    kv(thunderdecryptorpreference true)
    kv(memoryprofile ${PLUGIN_ORBBROWSER_MEMORYPROFILE})
    kv(memorypressure ${PLUGIN_ORBBROWSER_MEMORYPRESSURE})
    kv(mediacontenttypesrequiringhardwaresupport ${PLUGIN_ORBBROWSER_MEDIA_CONTENT_TYPES_REQUIRING_HARDWARE_SUPPORT})
    kv(mediadiskcache ${PLUGIN_ORBBROWSER_MEDIADISKCACHE})
    kv(diskcache ${PLUGIN_ORBBROWSER_DISKCACHE})
    kv(xhrcache ${PLUGIN_ORBBROWSER_XHRCACHE})
    kv(webgl ${PLUGIN_ORBBROWSER_WEBGL})
    kv(threadedpainting ${PLUGIN_ORBBROWSER_THREADEDPAINTING})
    if(PLUGIN_ORBBROWSER_HEIGHT)
        kv(height ${PLUGIN_ORBBROWSER_HEIGHT})
    endif()
    if(PLUGIN_ORBBROWSER_WIDTH)
        kv(width ${PLUGIN_ORBBROWSER_WIDTH})
    endif()
    if(PLUGIN_ORBBROWSER_INJECTEBLE_BUNDLE)
        kv(injectedbundle ${PLUGIN_ORBBROWSER_INJECTEBLE_BUNDLE})    
    endif()
    if(PLUGIN_ORBBROWSER_CLIENTIDENTIFIER)
        kv(clientidentifier ${PLUGIN_ORBBROWSER_CLIENTIDENTIFIER})
    endif()
    kv(localstorageenabled ${PLUGIN_ORBBROWSER_LOCALSTORAGE_ENABLE})
    if(PLUGIN_ORBBROWSER_LOCALSTORAGE)
        kv(localstorage ${PLUGIN_ORBBROWSER_LOCALSTORAGE})
    endif()
    if(PLUGIN_ORBBROWSER_COOKIESTORAGE)
        kv(cookiestorage ${PLUGIN_ORBBROWSER_COOKIESTORAGE})
    endif()
    if(PLUGIN_ORBBROWSER_WINDOWCLOSE)
        kv(windowclose ${PLUGIN_ORBBROWSER_WINDOWCLOSE})
    endif()
    if(PLUGIN_ORBBROWSER_ALTERNATIVE_EXEC_PATH)
        kv(execpath ${PLUGIN_ORBBROWSER_ALTERNATIVE_EXEC_PATH})
    endif()
    if(PLUGIN_ORBBROWSER_HTTP_PROXY)
        kv(proxy ${PLUGIN_ORBBROWSER_HTTP_PROXY})
    endif()
    if(PLUGIN_ORBBROWSER_HTTP_PROXY_EXCLUSION)
        kv(proxyexclusion ${PLUGIN_ORBBROWSER_HTTP_PROXY_EXCLUSION})
    endif()
    if(PLUGIN_ORBBROWSER_CLIENT_CERT AND PLUGIN_ORBBROWSER_CLIENT_CERT_KEY)
        kv(clientcert ${PLUGIN_ORBBROWSER_CLIENT_CERT})
        kv(clientcertkey ${PLUGIN_ORBBROWSER_CLIENT_CERT_KEY})
    endif()
    kv(logtosystemconsoleenabled true)
    kv(watchdogchecktimeoutinseconds 30)
    kv(watchdoghangthresholdtinseconds 180)
end()
ans(configuration)

map_append(${configuration} root ${rootobject})

map()
if(PLUGIN_ORBBROWSER_ENABLE_JIT)
    kv(useJIT true)
else()
    kv(useJIT false)
endif()
if(PLUGIN_ORBBROWSER_ENABLE_DFG)
    kv(useDFG true)
else()
    kv(useDFG false)
endif()
end()
ans(javascriptsettings)
map_append(${configuration} javascript ${javascriptsettings})
